/* login.component.css */
.login-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .login-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .login-option {
    margin: 0 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  