<!-- admin-dashboard.component.html -->

<div class="dashboard-container">
    <h1>Welcome </h1>
    <div class="sidebar">
      <!-- Sidebar menu items -->
      <ul>
        <li><button (click)="newRegistration()">New Registration</button></li>
        <li><button (click)="callManagement()">Call Management</button></li>
        <li><button (click)="registerUsers()">Registered Users</button></li>
      </ul>
    </div>
    <div class="main-content">
      <!-- Router outlet for dynamic component loading -->
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
  
